# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
static_collected/
media/

# Variables de entorno
.env

# Editor / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# cPanel / Passenger
tmp/
